<h3 class="text-center">Recibidas</h3>
<table class="table table-bordered text-center">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">Estudiante</th>
    <th class="text-center">Aportante</th>
    <th class="text-center">MoNes Transferidos</th class="text-center">
    <th class="text-center">Valor</th>
    <th class="text-center">Fecha</th>
  </tr>
  <% @user_transactions.each do |transaction| %>
      <tr>
        <td><%= link_to "#{transaction.id}", transaction %></td>
        <td><%= transaction.user.try(:name) %> <%= transaction.user.try(:last_name) %> </td>
        <td><%= User.find(transaction.sender_id).try(:name) %> <%= User.find(transaction.sender_id).try(:last_name) %></td>
        <td><%= number_with_delimiter(transaction.mone_amount, :delimiter => ',') %></td>
        <td><%= number_with_delimiter(transaction.amount, :delimiter => ',') %></td>
        <td><%= transaction.created_at %></td>
      </tr>
  <% end %>
</table>

<h3 class="text-center">Enviadas</h3>
<table class="table table-bordered text-center">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">Estudiante</th>
    <th class="text-center">Aportante</th>
    <th class="text-center">MoNes Transferidos</th class="text-center">
    <th class="text-center">Valor</th>
    <th class="text-center">Fecha</th>
  </tr>
  <% @sended_transactions.each do |transaction| %>
      <tr>
        <td><%= link_to "#{transaction.id}", transaction %></td>
        <td><%= transaction.user.try(:name) %> <%= transaction.user.try(:last_name) %> </td>
        <td><%= User.find(transaction.sender_id).try(:name) %> <%= User.find(transaction.sender_id).try(:last_name) %></td>
        <td><%= number_with_delimiter(transaction.mone_amount, :delimiter => ',') %></td>
        <td><%= number_with_delimiter(transaction.amount, :delimiter => ',') %></td>
        <td><%= transaction.created_at %></td>
      </tr>
  <% end %>
</table>

