<div class="row margin-container">
  <div class="col-md-4 col-md-offset-4 text-left">
    <h2>TRANSACCION EXITOSA</h2>

  <h4>ID: <%= @transaction.id%></h4>
  <h4>Estudiante: <%= @transaction.user.try(:name) %><%= @transaction.user.try(:last_name) %></h4>
  <h4>Aportante: <%= User.find(@transaction.sender_id).try(:name) %> <%= User.find(@transaction.sender_id).try(:last_name) %></h4>
  <h4>Valor: <%= @transaction.amount / 1000%></h4>
  <h4>Mones: </h4>
  <h4>Fecha: <%= @transaction.created_at%></h4>
  </div>
</div>
